.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    height: 50px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    box-shadow: 0 0 25px rgba(22, 17, 17, 0.1);
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
  }
  
  .navbar li {
    display: inline-block;
  }
  
  .navbar a {
    color: #333;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-weight: bold;
    transition: color 0.2s ease;
  }
  
  .navbar a:hover {
    color: #ff7300a9;
  }