.taskLogo{
  width: 24px;
  padding: 2px;
  aspect-ratio: inherit;
  margin-right: 10px;
}

.taskColumn{
  width: 100%;
  margin: 4px;
  padding: 5px;
  height: max-content;
  background-color: rgba(156, 209, 255, 0.322);
  border-radius: 10px;
}
.taskColumnHeader{
  display: flex;
  font-size: large;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}